body {
    text-align: center;
    margin: 2rem;
}

button {
    background: transparent;
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: .75rem 1rem;
    margin-top: 1rem;
}

p {
    font-size: 1.5rem;
    padding: 2rem;
    border: 1px solid black;
    min-height: 3.5vh;
}

.dynamic-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 1rem;
    margin-right: 1.5rem;
    padding: .8rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

input::placeholder {
    font-size: 1.5rem;
    opacity: .5;
    text-align: center;
}

h1 {
    font-size: 3rem;
}